.env*
.aml

dataset/
.pytest*

**/*github*
**/*copy*
**/*old*
**/*aml*
**/*.ipynb_checkpoints*
**/*config.py*

__pycache__/
__pycache/

!env

fresh-env
.DS_Store
**/.DS_Store

# Azure Functions local settings with credentials
local.settings.json
**/local.settings.json
.env
**/.env

api/local.settings.json
